<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
  <style>
    body {
      background:lavender;
    }
  </style>
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>What is the equation for work?</p>
  		<input type="radio" name="q1" value="W=fd">W=fd<br>
  		<input type="radio" name="q1" value="J=fd">J=fd<br>
  		<input type="radio" name="q1" value="Fg=d">Fg=d<br>
  		<input type="radio" name="q1" value="i don't know">i don't know<br>
  	<p>What color is a banana?</p>
  		<input type="radio" name="q2" value="green">green<br>
  		<input type="radio" name="q2" value="yellow">yellow<br>
  		<input type="radio" name="q2" value="blue">blue<br>
  		<input type="radio" name="q2" value="orange">orange<br>
  	<p>WHat is the name of the author of Novum Organum?</p>
  		<input type="radio" name="q3" value="Popper">Popper<br>
  		<input type="radio" name="q3" value="Aristotle">Aristotle<br>
  		<input type="radio" name="q3" value="Bacon">Bacon<br>
  		<input type="radio" name="q3" value="Cupernicus">Cupernicus<br>
  	<p>Who is author of Night?</p>
  		<input type="radio" name="q4" value="Dr.Mengele">Dr.Mengele<br>
  		<input type="radio" name="q4" value="HItler">HItler<br>
  		<input type="radio" name="q4" value="I don't know">I don't know<br>
  		<input type="radio" name="q4" value="Elie Wiesel">Elie Wiesel<br>
  	<p>What is the name of my sister's name?</p>
  		<input type="radio" name="q5" value="Surina">Surina<br>
  		<input type="radio" name="q5" value="Dan">Dan<br>
  		<input type="radio" name="q5" value="Jenna">Jenna<br>
  		<input type="radio" name="q5" value="George">George<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

